@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+US+Modern:wght@100..400&display=swap");

* {
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}
body {
  font-family: "Dancing Script", cursive;
  transition: 0.9s;
  background: linear-gradient(45deg ,#614385 , #516395);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 0 20px;
}
.heading {
  width: 40%;
  margin: 2em;
  padding-bottom: 20px;
  border-bottom: 3px solid #000;
}
.heading h1 {
  font-size: 5em;
  letter-spacing: 2px;
  font-weight: 600;
}

.heading span {
  color: #ff0000b0;
  font-weight: 400;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 8em 2em 0 2em;
}
.img-row {
  display: flex;
  flex-direction: column;
  width: 32.5%;
}

.img-row img {
  width: 100%;
  padding-bottom: 20px;
  box-shadow: 5px 5px 15px #0606065c;
  opacity: 0.5;
  border-radius: 10px;
}

.img-row img:hover {
  opacity: 1;
}

@media only screen and (max-width: 769px) {
  .box {
    flex-direction: column;
  }
  .img-row {
    width: 100%;
  }
  .heading h1 {
    font-size: 2em;
  }
}
@media only screen and (max-width: 373px){
    .heading h1 {
        font-size: 0.8em;
      }
}

.largePic{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.pic{
    margin: 10% 20% 10% 28%;
    display: block;
    width: 80%;
    max-width: 700px;
}
.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 3em;
    font-weight: bold;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
